# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*

# Databases
*.sqlite
*.sqlite-journal

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Local Netlify folder
.netlify
